@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;700;900&family=Urbanist:wght@300;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Lexend Deca', sans-serif;*/
    font-family: 'Urbanist', sans-serif;
}


/*// thapa technical SUBSCRIBE*/

html{
    font-size: 62.5%;
}


a{
    text-decoration: none;
}

li{
    list-style: none;
}


#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    /* margin-top: 10rem; */

}

 #heading{
    font-size: 3rem;
    font-family: 'Lexend Deca', sans-serif;
    margin-bottom: 4.8rem;
     color: rgb(152, 18, 18);
      

}


#components{
    border: 7px solid red !important;
    border-radius: 4rem;
    padding: 5rem;
    height: auto;
}







/*===================*/
/*navbar styling */
/*====================*/

nav{
    width:55rem ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: .1rem solid #ccc;
}

nav a{
    font-size: 2rem;
    font-family: 'Lexend Deca', sans-serif;
    color: #ccc;
    border-bottom: .3rem solid transparent;
}
nav a:hover{
    border-bottom: 4px solid red ;
    

}

nav a.active {
    color: #000;
    border-bottom: 4px solid red ;
    font-weight: bolder;
    border-radius: 5rem;
    transform: scale(1.5);
}
/*===================*/
/*Form  styling */
/*====================*/

form input{
    border: .1rem solid #cccccc;
    border-radius: 1rem;
    width: 45rem;
    margin: 4rem 0;
  
    padding: .6rem 1rem;
    font-size: 1.6rem;
    letter-spacing: .06rem;
    font-weight: bolder;
}

form button{
    padding: .8rem 2.8rem;
    border: none;
    border-radius: .3rem;
    font-weight: bold;
    cursor: pointer;
    margin-left: 2.4rem;
     background-color: #9d0707;
     color: #fff;
     font-weight: bolder;
}

label{
    font-size: 1.5rem;
    letter-spacing: .06rem;
    color: #3A3845;
    font-weight: bold;
}

/*===================*/
/*todo work list */
/*====================*/

#work li{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    width:50rem;
    min-height: 6rem;
    border-bottom: .3rem solid #e4040460;
    font-style: italic;
    text-transform: capitalize;
    font-size: 4rem;
    font: 30rem;

}

#work li:first-child{
    border: .2rem solid #a10808;
}
#work #btn{
    border: .2rem solid #a10808;
    transform: scale(1.5);
    padding: 0.5rem;
    margin-left: 25rem;
    margin-top: 3rem;
    border-radius: 0.8rem;
 
}
#work  #btn:hover{
    background: red;
    transform: scale(2);
}


#work li:hover{
    background-color: #ae1616;
}

#work li input[type="checkbox"]:checked  + label {
    text-decoration: line-through;
    color:  #a10808;
}

#work li button{
    padding: .6rem 1rem;
    width: 7rem;
    background-color: #9d0707;;
    color: #FFF9F9;
    cursor: pointer;
    justify-self: center;
    letter-spacing: .1rem;
}


#clock{

    margin: 3rem;
 
}


#watch{
    transform: scale(2);
    font-size: 2rem;
    letter-spacing: .4rem;
}

#Clock_component{
    border: 3px solid red ;
    padding-right: 3rem;
    display:flex ;
    justify-content: end;
    margin-right: 2rem;
    margin-bottom: 0px;
    color: #9d0707;
   
    font-weight: bolder
}